@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap');

$backgroundColor: #4B4F67;
$titlebarColor: #383C54;
$navbarColor: #3D415C;
$navbarHoveredColor: #646A96;