@import "variables";

 @media only screen and (max-width: 1200px)
 {
    body
    {
        background-color: $backgroundColor;
        margin: 0;
        font-size: 0.7em;
    }

    .topbar
    {
        background-color: $titlebarColor;
        padding-top: 10px;
        width: 100%;

        display: grid;
        grid-template-columns: 60% 40%;
    }

    .navbar
    {
        width: 100%;
        align-items: center;
        text-align: center;
        display: none;
    }

    .dropdown
    {
        background-color: $titlebarColor;
        align-items: center;
    }
    
    .icon
    {
        font-size: 150%;
    }
 }

 @media only screen and (min-width: 1200px)
 {
    body
    {
        background-color: $backgroundColor;
        padding-top: 0.5em;
        padding-left: 7.5em;
        padding-right: 7.5em;
        margin: 0;
    }

    .topbar
    {
        background-color: $titlebarColor;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 80%;
        margin-left: 10%;
        justify-content: flex-start;
        align-items: center;
        display: grid;
        grid-template-columns: 50% 50%;
        border-radius: 25px;
    }
    
    #title
    {
        padding-left: 2em;
    }
    
    .navbar
    {
        background-color: $navbarColor;
        width: 50%;
        margin-top: 5px;
        margin-left: 25%;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        text-align: center;
        border-radius: 25px;
    }

    .icon
    {
        display: none;
    }
 }



.navbar > nav
{
    transition: 350ms;
    border-radius: px;
}

.navbar > nav:hover
{
    background-color: $navbarHoveredColor;
    border-radius: 25px;
}

a
{
    text-decoration: none;
    color: black;
}

body
{
    font-family: "Arvo", serif;
}

#title
{
    margin-left: 5px;
}