@import "layout";

.content
{
    text-align: center;
    margin-top: 5px;
    font-size: 1.4em;
}

.info
{
    font-size: 1.5em;
    padding-left: 15%;
    padding-right: 15%;
}

@media only screen and (max-width: 1000px)
{
    .map
    {
        width: 95%;
        height: 60vw;
        margin-left: 2.5%;
    }
}

@media only screen and (min-width: 1000px)
{
    .map
    {
        width: 60%;
        height: 600px;
        margin-left: 20%;
    }
}

.map
{
    border-radius: 5px;
}