@import "layout";

.container
{
    text-align: center;
    font-size: 1.2em;
}

.sign-out
{
    font-size: 1.1em;
    margin-top: 5px;
}

.update-details
{
    font-size: 1.1em;
    margin-top: 5px;
}

.change_password
{
    font-size: 1.1em;
    margin-top: 5px;
}