@import "layout";

*
{
    border-radius: 5px;
}

.label
{
    width: 100%;
    font-size: 1.2em;
}

.entry
{
    width: 100%;
    font-size: 1.2em;
}

.title
{
    text-align: center;
    width: 100%;
}

.sub-heading
{
    text-align: center;
    width: 100%;
}

.submitButton
{
    font-size: 1.2em;
    text-align: center;
}

@media only screen and (max-width: 1000px)
{
    .form
    {
        font-size: 1.2em;
        width: 90%;
        text-align: center;
        justify-content: center;
        margin-left: 5%;
    }
}

@media only screen and (min-width: 1000px)
{
    .form
    {
        font-size: 1.2em;
        width: 30%;
        margin-left: 35%;
        justify-content: center;
        text-align: center;
    }
}