@import "layout";

.label
{
    width: 100%;
    font-size: 1.2em;
}

.entry
{
    width: 100%;
    font-size: 1.2em;
}

.form
{
    width: 30%;
    margin-left: 35%;
}

.title
{
    text-align: center;
    width: 100%;
}

.submitButton
{
    font-size: 1.2em;
}