@import "layout";

#grid
{
    height: 150px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    gap: 10px;

    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}

.grid-item
{
    width: 15em;
    height: 15em;
    vertical-align: middle;
    margin: 5px;
    object-fit: contain;
}

.book-title
{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.4em;
}

.book
{
    height: 22em;
    width: 15em;
    text-align: center;
}

.footer
{
    background-color: $titlebarColor;
    width: 100%;
    height: 50px;
}

.searchbar
{
    text-align: center;
    margin-top: 10px;
}

#searchtext
{
    width: 15em;
}