@import "layout";

.book
{
    text-align: center;
    font-size: 1.5em;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 17%;
    margin-right: 17%;
}

.description
{
    text-align: justify;
}

.button
{
    font-size: 1.5em;
    margin: auto;
    display: block;
    margin-bottom: 15px;
}

@media only screen and (max-width: 1000px)
{
    .book-image
    {
        width: 75%;
        vertical-align: middle;
        object-fit: fill;
    }
}

@media only screen and (min-width: 1000px)
{
    .book-image
    {
        width: 18vw;
        vertical-align: middle;
        margin: 5px;
        object-fit: fill;
    }
}