@import "layout";

.book
{
    text-align: center;
    font-size: 1.5em;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 17%;
    margin-right: 17%;
}

.book-image
{
    width: 18vw;
    vertical-align: middle;
    margin: 5px;
    object-fit: fill;
}